.tdd_pb_global_container {
	max-width:900px;
	width:400px;
}

.tdd_pb_bar_container {
	position:relative;
	background-color:#333;
	overflow:hidden;
	height: 50px;
	border:1px solid black;

	box-shadow:inset 0 0 4px #000000;

	border-top-right-radius: 15px 100px;
	border-bottom-right-radius: 15px 100px;
}

.tdd_pb_red {
	background-position: 0px 0;
	}

.tdd_pb_race .tdd_pb_red {
	background-position: 0px -12px;
	}

.tdd_pb_orange {
	background-position: 0px -50px;
	}

.td_pb_race .td_pb_orange {
	background-position: 0px -62px;
	}

.td_pb_yellow {
	background-position: 0px -100px;
	}

.td_pb_race .td_pb_yellow {
	background-position: 0px -112px;
	}

.td_pb_green {
	background-position: 0px -150px;
	}

.td_pb_race .td_pb_green {
	background-position: 0px -162px;
	}

.td_pb_teal {
	background-position: 0px -200px;
	}

.td_pb_race .td_pb_teal {
	background-position: 0px -212px;
	}

.td_pb_lightblue {
	background-position: 0px -250px;
	}

.td_pb_race .td_pb_lightblue {
	background-position: 0px -262px;
	}

.td_pb_blue {
	background-position: 0px -300px;
	}

.td_pb_race .td_pb_blue {
	background-position: 0px -312px;
	}

.td_pb_purple {
	background-position: 0px -350px;
	}

.td_pb_race .td_pb_purple {
	background-position: 0px -362px;
	}

.td_pb_fuchsia {
	background-position: 0px -400px;
	}
	
.td_pb_race .td_pb_fuchsia {
	background-position: 0px -415px;
	}

.td_pb_strawberry {
	background-position: 0px -450px;
	}
	
.td_pb_race .td_pb_strawberry {
	background-position: 0px -465px;
	}

.tdd_pb_bar {
	background-image:url(../images/bars.png);
	width:0;
	height:100%;
	box-shadow: 1px 0 4px #000;
	z-index:2;
	
	border-top-right-radius: 15px 100px;
	border-bottom-right-radius: 15px 100px;
}

.td_pb_race .tdd_pb_bar_container {
	height:25px;
	}

.td_pb_race .tdd_pb_bar_container .td_pb_numbers {
	font-size:15px;
	margin-top:4px;
	}

.td_pb_numbers {
	text-shadow:-1px -1px 1px #000;
	font-size:30px;
	margin-top:7px;
	margin-right:10px;
	color:#ececec;
	position:absolute;
	right:0;
	line-height:1em;
}